.books-list-page {
  background-color: white;
  padding: 0 20px;
  padding-bottom: 60px;
  position: relative;
}

h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters .filter-group {
  flex: 1 1 auto;
  max-width: 500px;
}

.filters label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.filters input {
  width: 100%;
  padding: 12px;
  border: 2px solid #0096be;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filters input:focus {
  outline: none;
  border-color: #007bb5;
  box-shadow: 0 0 8px rgba(0, 123, 181, 0.5);
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #f9f9fa;
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card img {
  width: 60%;
  height: auto;
  border-bottom: 2px solid #ddd;
  margin: 0 auto;
  display: block;
}

.book-card h2 {
  font-size: 1rem;
  margin: 12px 0;
  color: #333;
}

.book-card p {
  font-size: 0.8rem;
  color: #666;
  margin: 4px 0;
}

.book-card .publisher {
  background-color: #007cb5a5;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  width: max-content;
}

.book-card button {
  background-color: #0096be;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-card button:hover {
  background-color: #007bb5;
}

.view-btn {
  background-color: #7a973a4e;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 0.8rem;
}
.se-area {
  background-color: #007bb5; /* Temiz bir mavi ton */
  border: none;
  color: white;
  padding: 12px 24px; /* Butonun daha büyük görünmesi için padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Daha büyük yazı boyutu */
  margin: 10px;
  cursor: pointer;
  border-radius: 8px; /* Köşeleri yuvarlatma */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.se-area:hover {
  background-color: #005f8b; /* Hover durumunda daha koyu mavi */
  transform: scale(1.05); /* Hover durumunda butonun büyümesini sağlama */
}

.se-area:active {
  background-color: #004a70; /* Active durumunda daha koyu mavi */
  transform: scale(0.95); /* Tıklanma durumunda butonun küçülmesini sağlama */
}




footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .books-grid {
    grid-template-columns: 1fr;
  }

  .filters input {
    max-width: 100%;
  }
}
